:root{
    --text-secondary:#333;
    --text-Primary:#111;
    --bg-primary:#f5f5f5;
    --bg-secondary:#f0f0f0;
    --bg-white:#fff;
    --trigent-yellow:#FDBA33;
    --trigent-black:#000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    min-height: 100dvh;
    font-family: 'Aptos', sans-serif !important;
}

/* Regular */
@font-face {
    font-family: "Aptos";
    src: url("/assets/fonts/Aptos.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Semibold */
@font-face {
    font-family: "Aptos";
    src: url("/assets/fonts/Aptos-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: "Aptos";
    src: url("/assets/fonts/Aptos-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: "Aptos";
    src: url("/assets/fonts/Aptos-Black.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}




/* Login Section */

.login-bg{
    height: 100vh;
}

.login-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#toggle-password{
    position: absolute;
    right: 8px;
    top: 44px;
}

/* Login Section */


/* Home screen */

#search{
    border-radius: 3rem;
    height: 48px;
    min-width: 250px;
}

.tabs-container{
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.tab{
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100px;
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 0px transparent;
    user-select: none;
    cursor: pointer;
}

.tab:hover{
    background-color: var(--bg-primary);
    box-shadow: 0px 0px 4px 0px var(--trigent-yellow) ;
}

.tab:active{
    background-color: var(--bg-white);
}


/* Home screen */

/* Images Section */
.img-container{
    width: min(1400px,100%);
    columns: 4 300px;
    gap: 0.5rem;
    margin: 2rem auto;
}

.img-container div.img-card{
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

.img-card img{
    width: 100%;
    object-fit: cover;
}

.download-btn{
    position: absolute;
    z-index: 12;
    top: 8px;
    right: 8px;
    visibility: hidden;
}

.img-card::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.1s ease-in;
    pointer-events: none;
}

.img-card:hover::after{
    opacity: 0.3 !important;
}

.img-card:hover .download-btn{
    visibility: visible;
}


/* Custom Download Button */

.dropdown-btn{
    padding: 0.25rem 0.5rem;
    background-color: #eee;
    color: var(--text-secondary);
    display: flex;
    gap: 8px;
    align-items: center;
    width: fit-content;
    border-radius: 0.25rem;
    position: absolute;
    top: 8px;
    right: 8px;
}

.dropdown-btn .label{
    font-size: 14px;
    font-weight: 500;
}

.v-rule{
    height: 20px;
    width: 1px;
    background-color: #111;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 4px;
    min-width: 120px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 12;
}

.dropdown-btn .icon img{
    width: 14px;
}

.option{
    padding: 6px 12px;
    background-color:var(--bg-white);
}

.option:hover{
    background-color: var(--bg-primary);
}

.download-icon{
    /* opacity: 0; */
    height: 24px;
}

.option:hover .download-icon{
    opacity: 1;
}
/* Custom Download Button */


@media screen and (max-width:638px) {
    .img-container{
        columns: 2 200px;
        gap: 0.5rem;
        margin: 2rem auto;
    }
}

/* Images Section */